.selectBlock .title{
    display: inline-block;
    border:1px solid black;
    min-height: 20px;
    min-width: 40px;
}

.items{
    position: absolute;
    padding: 10px;
    outline: 1px solid red;
}


.item  {
    padding: 5px;
    /*outline: 1px solid red;*/
    text-align: center;
}
.item:hover{
    background-color: blue;
    color:white;
}

.item.selected {
    background-color: blue;
    color:white;
}